
div#cuerpo{
    margin: 50px;
    background-color: aqua;
    border-radius: 40px;
    position: relative;
    top: -50px;
    margin-left: 400px;
    margin-right: 300px;
}
img{
    margin: 10px;
    border-image: round;
    border-radius: 40px;
    position: relative;
    top: 30px;
    
}

h1{
    text-align: center;
    background-color: cadetblue;
    margin-left: 400px;
    margin-right: 300px;
    border-radius: 30px;
    
    
    
}

h5{
    margin-left: 350px;
    margin-right: 600px;
    background-color: white;
    text-align: center;
}

p{
    text-align: center;
    top: 400px;
    position: relative;
    top: -30px;
}

button{
    image-rendering: center;
}

table{
    margin-left: 200px;
    margin-right: 3000px;
    background-color: antiquewhite;
    position: relative;
    top: -20px;
    text-align: center;
    
}

textarea{
    margin-left: 300px;
}